h1 {
    color: blue;
    text-decoration: underline;
    background-color: gold;
}


h2 {
    color: purple;
    font-weight: bold;
    font-size: 25px;
   border-color: orange;
}
    
section {
    width:50%;
    height:200px;
    background-color: gray;
   border-color:black;
}

p {

font-color: white;   
}

footer {
   background-color: black;
   border-color:lightgreen;
}

h3 {
        font-size: 20px;
        font-color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }



